html {
    background-image: linear-gradient(to right,#005bea 0%, #00c6fb 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
   /* background-image: linear-gradient(red, yellow);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;*/
}
#container {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

#headSwitch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom:30px;
    border-bottom:2px solid darkblue;
}

    #headSwitch select,.holder select,#from,#to {
        height: 40px;
        background-image: linear-gradient(to right,pink,aqua);
        border-radius: 10px;
        outline: none;
    }
.holder select{ 
    margin-left:10px;
}
#workAreaCurrency div select{
    width:70%;
    margin:20px;
}

#workAreaFlames {
    display: block;
    border-radius: 30px;
    background-color: #193968;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1581700261299-b342aa7174cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 40%;
}

#workAreaBMI {
    border-radius: 30px;
    background-color: #193968;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
    width: 40%;
    background-image: url(https://images.everydayhealth.com/images/coronavirus/obesity-may-increase-risk-of-covid-19-complications-722x406.jpg?sfvrsn=8dd94b5e_1);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

#workAreaCurrency {
    border-radius: 30px;
    background-color: #193968;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
    width: 40%;
    background-image: url(http://neptuneholidays.com/world/img/currency-converter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.alert_border {
    border-color: red !important;
}

#flames_container, #BMI_container, #currency_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#flames_container p{
    font-size: 70px;
    margin:0px;
}
#BMI_container{
    margin:0px 10px;
}
#BMI_container p {
    text-align: center;    
    height: 25px;
    width: 14%;
}
#currency_container p{
    font-size: 70px;
    margin: 0px 20px;
    color: aliceblue;
}
#workAreaCurrency input {
    color: aliceblue;
}
.text-incrementer {
    width: 40% !important;
}
.button-group {
    justify-content: space-evenly;
    flex-direction: row;
    
}
    .button-group button {
        margin: 10px;
        border-radius: 20px;
        height: 40px;
        width: 30%;
        border-color: aqua;
        outline:none;
        background-image: linear-gradient(to right,pink,aqua);
    }
.input-group {
    justify-content: space-between;
    flex-direction: column;
}
    .input-group input, .input-group div input {
        outline: none;
        margin: 10px;
        width: 70%;
        border-radius: 20px;
        height: 40px;
        padding-left: 15px;
        border-color: transparent transparent aqua transparent;
        background-color: transparent;
        font-size: 25px;
    }
.input-group .holder{ 
    width :100% !important;
}

.position {
    display: flex;
    align-items: center;
    width:100%;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 70%;
        height:700px;
    }

    body {
        overflow-y: hidden;
        overflow-x: scroll;
    }
}
