html {
    background-image: linear-gradient(to right,#005bea 0%, #00c6fb 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
   /* background-image: linear-gradient(red, yellow);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;*/
}
#container {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

#workArea {
    border-radius: 30px;
    background-color: #193968;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1581700261299-b342aa7174cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 40%;
}
.alert_border {
    border-color: red;
}

#flames_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#flames_container p{
    font-size: 70px;
    margin:0px;

}
.button-group {
    justify-content: space-evenly;
    flex-direction: row;
    
}
    .button-group button {
        margin: 10px;
        border-radius: 20px;
        height: 40px;
        width: 30%;
        border-color: aqua;
        outline:none;
        background-image: linear-gradient(to right,pink,aqua);
    }
.input-group {
    justify-content: space-between;
    flex-direction: column;
}
    .input-group input {
        outline:none;
        margin: 10px;
        width: 70%;
        border-radius: 20px;
        height: 40px;
        padding-left:15px;
        border-color:transparent transparent aqua transparent;
        background-color: transparent;
    }

.position {
    display: flex;
    align-items: center;    
}

@media only screen and (max-width: 600px) {
    #workArea {
        width: 70%;
        height:700px;
    }

    body {
        overflow-y: hidden;
        overflow-x: scroll;
    }
}
